@page "/anomalies"
@inject IReadingService service; 

    <div class="container">
        <h3 class="p-3 text-center">List of readings and system state</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>P1 Operating Time</th>
                    <th>P2 Operating Time</th>
                    <th>P1 Start Quantity</th>
                    <th>P2 Start Quantity</th>
                    <th>Niveau(cm)</th>
                    <th>Rain(mm)</th>
                    <th>System State</th>
                    <th>Probability of state</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Hour</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reading in readings)
                {
                <tr>
                    <td>@reading.P1OperatingTime</td>
                    <td>@reading.P2OperatingTime</td>
                    <td>@reading.P1StartQuantity</td>
                    <td>@reading.P2StartQuantity</td>
                    <td>@reading.Niveau</td>
                    <td>@reading.Rain</td>
                    <td>@reading.label</td>
                    <td>@reading.probability</td>
                    <td>@reading.month</td>
                    <td>@reading.day</td>
                    <td>@reading.hour</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

@code {
    private List<Data.Reading> readings;

    protected override async Task OnInitializedAsync()
    {
        readings = service.DisplayReadings();
    }
}
